streamlit
numpy
pandas
polars
matplotlib
seaborn
scikit-learn
xgboost
shap
joblib
torch
transformers
pytorch-lightning
kagglehub
huggingface_hub
dash
dash-core-components
dash-html-components
dash-table
plotly[express]
